/* Styling :D */



/*Imgs */


#banner_img {

    width: 850px;
    height: 314px;

}

img {

    width: 35%;
    height: 35%;

}

/* Text Formatting */

.bold_text{

    font-weight: bold;


}


/* PHP HTML_CSS Formatting */



.p_formatting{

    width: 25%;

}