/* Styling :D */



/*Imgs */


#banner_img {

    width: 850px;
    height: 314px;

}

.img_style {

    width: 35%;
    height: 35%;

}

/* Text Formatting */

.bold_text{

    font-weight: bold;


}


/* PHP HTML_CSS Formatting */

.main_div {

    text-align: center;
    font-weight: bold;
}

.center_img {

    display: block;
    margin: auto;

}

.p_formatting {

    width: 640px;
    height: 480px;
    font-weight: bold;
    color: red;

}